/* Original wave effect made by https: //codepen.io/Ephellon, thanks bro'! */
#wave-container {
    right: 0;
    position: fixed;
    z-index: -2;
    top: 0;
    transform: rotate(75deg);
}

#wave-container>.wave {
    background: rgb(102, 125, 255);
    border-radius: 43%;
    opacity: 0.4;

    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    left: 10%;
    position: absolute;
    top: 3%;

    width: 1500px;
    height: 1300px;

    animation: wave-animation 15s infinite linear;
}

#wave-container>.wave:nth-child(2) {
    background: rgb(204, 205, 255);
    opacity: 0.1;

    position: fixed;

    animation: wave-animation 30s infinite linear;
}

#wave-container>.wave:nth-child(3) {
    background-color: rgb(160, 153, 255);

    position: fixed;

    animation: wave-animation 20s infinite linear;
}

#wave-container:after {
    content: "";

    display: block;

    left: 0;
    top: 0;
    z-index: 9;

    height: 100%;
    width: 100%;

    transform: translate3d(0, 0, 0);
}

@keyframes wave-animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}